@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
    --primary-color:#24305E;
    --dark-gray:#6B7280;
    --light-gray:#E2E8F0;
    
}

body{
    font-family: 'Comfortaa', cursive;
    margin: 0px;
    background-color: #A8D0E6;
    
}

hr{
    margin: 1rem 0rem;
}
h2{
    text-align: center;
}

.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;

}

.link{
    padding:0.5rem 1rem;
    text-decoration: none;
    
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    text-align: center;
    
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid white;
    display: block;
    text-align: center;

}
.list-non-bullet{
    list-style: none;
}


.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand{
    font-weight: bold;
    font-size: 2rem;
}

.navigation .link{
    color: white;
}
.nav-pills{
    text-align: right;
}
.navigation .link-active{
    border-bottom: 2px solid;
    font-weight: bold;
}
/**header**/

.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 450px;
    margin: auto;   
    display: block;
}
.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray)
}
.hero .hero-invert{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}
.section h1 ,p{
    text-align:center;
}
.ow{
    background-color: #7B68EE
}
.w{
    background-color: #87CEEB;
}
footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;
}

footer .link{
color: white;

}

.link-tertiary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid white;

}

.social-links{
    padding-inline-start: 0px;
}

#heading{
    text-align: center;
    margin-bottom: 2rem;
}

