@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color:red;
}
.link{
    padding:0.5rem 1rem;
    text-decoration: none;
}
.link-primary{
    background-color: var(--primary-color);
}

.link-secondary{
    
}