@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&family=Ubuntu:wght@300&display=swap');

:root{
    --primary-color:#24305E;
    --dark-gray:#6B7280;
    --light-gray:#f0f8ff;
    
}
*{
    font-family: 'Stick No Bills', sans-serif;
}
body{
    font-family: 'Comfortaa', cursive;
    margin: 0px;
    background-color: whitesmoke;
    
}

hr{
    margin: 1rem 0rem;
}
h2{
    text-align: center;
}

.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 50%;
    margin: auto;

}

.link{
    padding:0.5rem 1rem;
    text-decoration: none;
    
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    text-align: center;
    
    font-weight: bold;
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
}

.link-primary:hover{
    background-color: #37478E;
}
.link-tertiary:hover{
    background-color: #37478E;
}
.link-secondary:hover{
    background-color: #d4d4d4;
}
.link-secondary{
    background-color: var(--light-gray);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
}

.link-tertiary{
    font-weight: bolder;
    font-size: 1.5rem;
}
.list-non-bullet{
    list-style: none;
}


.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nav-brand{
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.nav-pills{
    text-align: right;
}
.navigation .link-active{
    border-bottom: 2px solid;
    font-weight: bold;
}
/**header**/

.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 450px;
    margin: auto;   
    display: block;
}
.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray)
}
.hero .hero-invert{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}
.section h1 ,p{
    text-align:center;
    
}
.ow{
    background-color: #7B68EE
}
.w{
    background-color: #87CEEB;
}
footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

footer .link{
color: white;

}

.link-tertiary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid white;

}

.social-links{
    padding-inline-start: 0px;
}

#heading{
    text-align: center;
    margin-bottom: 2rem;
}

.showcase-list{
    border-radius: 1rem;
  text-align: center;
  margin: auto;

}

.span-style{

    color: var(--primary-color);
    font-weight: bold;
  
}
.showcase-list {
    margin-bottom: 0.5rem;
    border-style: dotted;
    font-size: 1.1rem;
}

.section-blog h1,p{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 1rem;
}
.section-blog  h1{
    font-size: 2rem;
}

.contact{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bolder;
}

.header{
    font-size: 2rem;
}
.last-div{
    padding-top: 1rem;
    color: red;
}